@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.25rem;
  }
  .card {
    background-color: red,
  }
}
